body {
}

.about {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: bold;
    color: white;
}

li{
    padding: 10px;
}

iframe{
    margin-top: 20px;
    height: 500px;
    width: 100%;
}