@page
@model ArtHouse.Pages.FAQModels
@{
    ViewData["Title"] = "FAQ";
}

<html>
<head>
    <meta charset="utf-8">
</head>
<body> 
    <html lang="en">
    <head>
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="/css/FAQ.css">
    </head>
    <body>
        <div id="faq">
            <br />
            <h1>Часто задоваемые вопросы</h1>
            <ul>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Какое исскуство можно увидеть в ArtOfWorld</h2>
                    <p>В ArtOfWorld можно увидеть современное искусство , ярчайшими представителями которого являются Пикассо, Шагал, Малевич и Кандинский, авторам есть что сказать людям, и этот внутренний посыл обязательно найдет отклик как у наших сегодняшних зрителей, так и у последующих поколений. В нашей коллекции нет ни одной работы, о которой мы не могли бы сказать, за что ее любим и почему считаем ее талантливой.</p>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Как понять современное искусство, если оно мне не близко?</h2>
                    <p>
                        Каждый должен проложить к искусству свой путь — только так оно может стать действительно интересным своему зрителю.
                        В ArtOfWorld мы стараемся окружить людей интересными произведениями, чтобы каждый мог найти работу, которая его затронет.
                    </p>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Проблемы с сайтом</h2>
                    <p>По всем техническим проблемам обращайтесь на почту сайта по адресу a.dzhunushodzhaev@gmail.com</p>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>График работы Музея</h2>
                    <p>
                        Пн - Ср | с 9.00 - 20.00 | Обед с 12.00 - 13.00
                        <br />
                        Чт с 10.00 - 20.00 | Обед с 12.00 - 13.00
                        <br />
                        Пт с 9.00 - 20.00 | Обед с 12.00 - 13.00
                        <br />
                        -- Сб - Вс | Выходной --
                    </p>
                </li>
            </ul>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</body>
</html>

