@page
@model ArtHouse.Pages.img1Model
@{
    ViewData["Title"] = "img1";
}

<html>
<head>
    <meta charset="utf-8">
</head>
<body>
    <html lang="en">
    <head>
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="/css/afisha-img2.css">
    </head>
    <body>
        <center>
            <div class="about">
                <img src="https://spbculture.ru/media/filer_public/24/24/242418b5-dff9-4a6e-b631-aaeb1c5271e5/villem_van_vigel_kineticheskaia_skulptura.jpg" />
                <p>
                    Зимой 2022 года в музее ArtOfWorld откроется выставка нидерланского художника<br />
                    Виллема ван Вигеля, известного своими работами в жанре кинетического исскуства
                </p>
                <li>Мобильные конструкции, визуализирующие ход времени</li>
                <li>Невероятное многообразие непрерывно сменяющих друг друга узоров</li>
                <li>Иммерсивная скульптура, созданная специально для выставки в музее ArtOfWorld</li>
            </div>
            <div class="video-container" style="height: 100%;">
                <iframe src="https://www.youtube.com/embed/_eBZb2u4CZU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
            </div>
        </center>
    </body>
</body>
</html>

