@page
@model ArtHouse.Afisha.img2Model
@{
    ViewData["Title"] = "img2";
}

<html>
<head>
    <meta charset="utf-8">
</head>
<body>
    <html lang="en">
    <head>
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="/css/afisha-img1.css">
    </head>
    <body>
        <center>
            <div class="about">
                <img src="https://www.erarta.com/upload/resize_cache/iblock/b75/370_240_2/b75ef0a42c7e8835e5c427963b572fa2.png" />
                <p>
                    Музей современного искусства ArtOfWorld представляет выставку голландского художника Макса Зорна, использующего вместо красок клейкую упаковочную ленту, а вместо кисти — скальпель
                </p>
                <li>Автор, чьи работы украшали улицы Мадрида, Лиссабона, Амстердама и других европейских городов</li>
                <li>Необычная техника tape art, в которой изображение вырезается скальпелем из накладываемого слоями на оргстекло упаковочного скотча</li>
                <li>Картины, напоминающие стоп-кадры из фильмов</li>
                <div class="imgs">
                    <img src="https://www.erarta.com/upload/iblock/bfc/bfc043643af0739a429d6dc7433f0220.png" width="500px" height="500px" />
                    <img src="https://www.erarta.com/upload/iblock/4ec/4ec649ae5dc3dd58861e12c54b96922f.png" width="500px" height="500px" />
                </div>
            </div>
        </center>
    </body>
</body>
</html>
