@page
@model ArtHouse.Pages.TicketModel
@{
    ViewData["Title"] = "Ticket";
}

<head>
    <link rel="stylesheet" href="~/css/tickets.css">
</head>
<body>
    <div class="inf" >
        <h6>Билеты и абонименты</h6>
        <h5>посетите 40 выставок в год по одному билету!</h5>
        <br/>
        <div class="text_information">
            <p>За один визит в Эрарту невозможно увидеть все. Мы не просто крупнейший частный музей современного искусства в России, но еще и самый динамичный. Ежегодно мы проводим 40 временных выставок — возвращаясь регулярно, вы будете знакомиться с новыми проектами в живописи, скульптуре, фотографии, моде, дизайне, видеоарте и других видах искусства. Поэтому всем посетителям, приобретающим билет, мы дарим возможность зарегистрироваться и посещать Эрарту бесплатно в течение 365 дней с момента первого визита — и получать яркие впечатления.</p>
            <div class="E_ticket">
                <p style="font-weight: bold; margin-top: 30px; margin-left: -500px">электронный билет</p>
                <img width="350px" src="https://www.erarta.com/upload/iblock/126/1260def4a6183d5b865cd7fb324ddefe.jpg">
                <div class="block1">
                    <br />
                    <p style="font-weight: bold; margin-left:-40%">1000P</p>
                    <button><p>купить</p></button>
                    <li>удобная система онлайн покупки</li>
                    <li>услуга "Экспресс-проход" отделные турникеты для прохода <br> в музей без очереди</li>
                    <li>возможность бесплатно возращаться в музей в течение 365 дней<br> с момента оплаты и доступ к аудиогидам активируются при регистрации на кассе</li>
                </div>
            </div>
            <div class="aboniment">
                <p style="font-weight: bold;">абонимент</p>
                <img width="350px" src="https://www.erarta.com/upload/iblock/93a/93ac396eb00072c69460a09dceebaacd.jpg">
                <div class="block2">
                    <br />
                    <p style="font-weight: bold; margin-right:-110px">2400Р</p>
                    <button><p>купить</p></button>
                    <li>неограниченное число посещений музея и всех временных <br> выставок в течение 365 дней с момента приобретения Абонимента</li>
                    <li>отделный вход в музей и услуга "Экспресс-проход" отделные турникеты для прохода в музей без очереди</li>
                    <li>услуга "Экспресс-проход" для всех гостей со скидкой 20% - это 800 рублей вместо 1000</li>
                    <li>приглашение на вернисажи выставок и встречи с художниками</li>
                </div>
            </div>
            <hr style="margin-top: 100px;">
        </div>
    </div>
</body>